@charset "utf-8";
img{
	border:none;
}
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;		
	height:100%;
	background-color: #F2F1F1;

}

#treePanel .Father-node{  
	background-image:url(/images/ext/bg.gif) !important;	
	background:url(/desarrollo/scripts/ext/resources/images/default/slider/slider-v-thumb.png);
    margin-top:1px;
    border-top:1px solid #99bbe8;
    border-bottom:1px solid #99bbe8;
    padding-top:2px;
    padding-bottom:1px;
}

#treePanel .ChildNode {
margin-left:-25px;
background-image:url(/images/ext/arrow_state_blue_right.png) !important;	
}

#Principal_Node .Father-node .x-tree-node-icon {
    display:none;
}

.HeaderClass{
background-repeat:no-repeat;
}

.PanelClass{
background:#dadde2 url(images/light-hd.gif) repeat-x;    
padding-top:6px;
}

.Clsmodule {
    background-image: url(/images/box.gif) !important;	
}

.Clspermiso{
	background-image: url(/images/lock.gif) !important;	
}

.Clsaccion{
	background-image: url(/images/play.gif) !important;	
}

.clscheckgroup{
background-image: url(/images/iconos_info_adicional/check_group.gif) !important;
}

.clsnumberfield{
padding:2px;
background-image: url(/images/iconos_info_adicional/number_field.gif) !important;
}

.clsdatefield{
background-image: url(/images/iconos_info_adicional/date_field.gif) !important;
}

.clsradiogroup{
background-image: url(/images/iconos_info_adicional/radio_group.gif) !important;
}

.clstxtstring{
background-image: url(/images/iconos_info_adicional/tex_string.png) !important;
}

.clstextarea{
background-image: url(/images/iconos_info_adicional/text_area.gif) !important;
}

.clstimefield{
background-image: url(/images/iconos_info_adicional/time_field.gif) !important;
}

.x-form-invalid2, textarea.x-form-invalid2{
background:#fff;
border: 10px solid yellow;
}

.x-form-field-wrap .x-form-calculator-trigger{background-image:url(/images/calculator.gif);cursor:pointer;}

.user {
    background-image: url( /images/user.png ) !important;
}

.close {
    background-image: url( /images/close.png ) !important;
}

.admin {
    background-image: url( /images/configure.png ) !important;
}

.about {
    background-image: url( /images/lamp.png ) !important;
}

.contenido {
    background-image: url( /images/buy.png ) !important;
}


.currency {
    background-image: url( /images/money2.png ) !important;
}

.seguridad {
    background-image: url( /images/security-key.png ) !important;
}

.reservas {
    background-image: url( /images/chart_bar.png ) !important;
}

.notificaciones {
    background-image: url( /images/barcode.png ) !important;
}

.cupos {
    background-image: url( /images/barcode.png ) !important;
}

.auditoria {
    background-image: url( /images/box.png ) !important;
}

.multimedia {
    background-image: url( /images/world.png ) !important;
}

.mb {
    background-image: url( /images/invoice.png ) !important;
}
.ux-start-menu {
	background:transparent none;
	border:0px none;
	padding:0;
}

.no-margin-bottom
 {
	margin-bottom: 0 !important;
	padding:10px;
	border:0;
 }

.x-tree-node .x-tree-selected {
background-color: #fff !important;
}
