<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
<title>{ $title }</title>
<meta http-equiv="Content-Type" content="text/html; charset={$encoding}" />
<link href="{$webdir}/oob/admin/estilo.css" rel="stylesheet" type="text/css">



</head>
</body>
{$maincontent}
</body>
</html>